@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Eloquia;
    font-weight: 400;
    src: "eloquia.otf";
}
@font-face {
    font-family: Anybody;
    font-weight: 400;
    src: "Anybody-SemiBold.ttf";
}
.project-card{
    padding: 15px 10px 15px 10px;
}